* text=auto

*.cs text diff=csharp
*.msbuild text
*.config text
*.conf text
*.cscfg text
*.csdef text
*.xml text
*.js text
*.ps1 text

*.DotSettings text eol=lf
*.sh text eol=lf

*.csproj text merge=union
*.fsproj text merge=union
*.sln text eol=crlf merge=union

*.jpg binary
*.png binary
*.gif binary

*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
