output
*.Cache
*.cache
*.ncb
TestResult.xml
coverage.*
_ReSharper*
*.marcus
*.bak
bin
*.vsdoc
*.XML
Version1.cs
src/Numerics/Algorithms/LinearAlgebra/Mkl/*.cs
src/Numerics/Algorithms/LinearAlgebra/Acml/*.cs
src/Numerics/Algorithms/LinearAlgebra/GotoBlas/*.cs
out