output
bin
obj
out
temp/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
TestResults
Backup
.vagrant
_UpgradeReport*
_ReSharper*
coverage.*
TestResult.xml
UpgradeLog.htm
*.ReSharper
*.user
*.suo
*.Cache
*.cache
*.ncb
*.marcus
*.bak
*.vsdoc
*.XML
*.so
*.sdf
*.opensdf