Alexander Täschner <taschnataschna@uni-muenster.de>
Anders Gustafsson <anders@cureos.com>
Andriy Bratiychuk <basic2003@list.ru>
Gauthier Segay <gauthier.segay@gmail.com> <gauthier@t420s.local>
manyue <manyue.mo@gmail.com> <manyue@someemail.com>
manyue <manyue.mo@gmail.com> <Mo@DDBNXBB1.(none)>
Paul Varkey <paul.varkey@gmail.com>
Phil Cleveland <pdoh00@gmail.com>
Thomas Ibel <tibel@users.noreply.github.com> <tibel@codeplex.fake>
grovesNL <josh@joshgroves.com> <josh@joshgrgoves.com>
