source https://www.nuget.org/api/v2
nuget FSharp.Core ~> 3.1.2
nuget TaskParallelLibrary 1.0.2856

github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs
github fsprojects/FsUnit src/FsUnit.NUnit/FsUnitTyped.fs

group Test
    source https://www.nuget.org/api/v2
    nuget FSharp.Core
    nuget NUnit ~> 3.0

group Build
    source https://www.nuget.org/api/v2
    nuget FAKE ~> 4.1
    nuget NUnit.Runners ~> 3.0
    nuget FSharp.Formatting !~> 2.4
    nuget NuGet.CommandLine

group Data
    source https://www.nuget.org/api/v2
    nuget MathNet.Numerics 3.0.0

group Benchmark
    source https://www.nuget.org/api/v2
    framework: net45
    nuget BenchmarkDotNet content:none, strategy:min
    nuget BenchmarkDotNet.Diagnostics.Windows content:none, strategy:min
