source http://nuget.org/api/v2

nuget TaskParallelLibrary 1.0.2856.0

nuget FAKE ~> 3.5
nuget NUnit.Runners ~> 2.6
nuget FSharp.Formatting !~> 2.4
nuget NUnit ~> 2.6
nuget FsUnit ~> 1.3

nuget MathNet.Numerics 3.0.0

nuget BenchShark 1.0.0
nuget ConsoleDump 0.6.0.1
