source https://api.nuget.org/v3/index.json
storage: packages

nuget FSharp.Core 4.3.3

nuget NUnit ~> 3.0
nuget NUnitLite ~> 3.0
nuget FsUnit ~> 3.0

nuget System.Runtime.InteropServices.RuntimeInformation

nuget System.Runtime framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Numerics framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Serialization.Xml framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Serialization.Primitives framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Serialization.Formatters framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Security.Cryptography.Algorithms framework:netstandard1.3,netstandard1.6,netcoreapp1.1

nuget NETStandard.Library 2.0.1 strategy:min, framework:netstandard1.3,netstandard1.6,netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.App 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetHost 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetAppHost 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetHostPolicy 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetHostResolver 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.Jit 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.Runtime.CoreCLR 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0

group Build
    source https://api.nuget.org/v3/index.json
    storage: packages
    nuget FAKE ~> 4.1
    nuget NUnit.ConsoleRunner
    nuget FSharp.Formatting !~> 2.4
    nuget NuGet.CommandLine

group Data
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net40, netstandard1.3, netstandard2.0, net45, netcoreapp1.1, netcoreapp2.0
    nuget MathNet.Numerics 4.0.0-beta06 prerelease
    nuget NUnit ~> 3.0
    nuget NUnitLite ~> 3.0

group Benchmark
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net46
    nuget BenchmarkDotNet content:none, strategy:min
