<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gallio" type="Gallio.Runtime.GallioSectionHandler, Gallio" />
  </configSections>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />

    <!-- Enable loading assemblies over the network in .Net 4.0 -->
    <loadFromRemoteSources enabled="true" />
  </runtime>

  <startup>
    <supportedRuntime version="v4.0.30319" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>
