<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>@Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="@Description"/>
        <meta name="author" content="@Properties["project-author"]"/>

        <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
        <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
        <style>
            td {padding-right: 15px;}
        </style>
        <script type="text/javascript" src="@Root/content/tips.js"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li><a href="http://www.mathdotnet.com">Math.NET Project</a></li>
                    <li><a href="http://numerics.mathdotnet.com">Math.NET Numerics</a></li>
                    <li><a href="https://github.com/mathnet/mathnet-numerics">GitHub</a></li>
                    <li><a href="https://mathnetnumerics.codeplex.com/">CodePlex</a></li>
                </ul>
                <h3 class="muted">Math.NET Numerics</h3>
            </div>
            <hr />
            <div class="row">
                <div class="span9" id="main">
                    @RenderBody()
                </div>
                <div class="span3">
                    <ul class="nav nav-list" id="menu">

                        <li class="nav-header">Math.NET Numerics</li>
                        <li><a href="http://numerics.mathdotnet.com">Project Website</a></li>
                        <li><a href="@Root/ReleaseNotes.html">Release Notes</a></li>
                        <li><a href="@Root/License.html">MIT/X11 License</a></li>
                        <li><a href="http://numerics.mathdotnet.com/api/">Class Reference</a></li>
                        <li><a href="https://github.com/mathnet/mathnet-numerics/issues">Issues & Bugs</a></li>
                        <li><a href="@Root/Users.html">Who is using Math.NET?</a></li>

                        <li class="nav-header">Contributing</li>
                        <li><a href="@Root/Contributors.html">Contributors</a></li>
                        <li><a href="@Root/Contributing.html">Contributing</a></li>
                        <li><a href="@Root/Build.html">Build & Tools</a></li>
                        <li><a href="http://feedback.mathdotnet.com/forums/2060-math-net-numerics">Your Ideas</a></li>

                        <li class="nav-header">Getting Help</li>
                        <li><a href="http://stackoverflow.com/questions/tagged/mathdotnet">Stack Overflow</a></li>
                        <li><a href="http://mathnetnumerics.codeplex.com/discussions">Discuss</a></li>
                        <li><a href="https://gitter.im/mathnet/mathnet-numerics">Chat</a></li>

                        <li class="nav-header">Getting Started</li>
                        <li><a href="@Root/">Getting started</a></li>
                        <li>Constants</li>
                        <li>Floating-Point Numbers</li>
                        <li>Arbitrary Precision Numbers</li>
                        <li>Complex Numbers</li>
                        <li><a href="@Root/Matrix.html">Matrices and Vectors</a></li>
                        <li><a href="@Root/Euclid.html">Euclid & Number Theory</a></li>
                        <li>Combinatorics</li>

                        <li class="nav-header">Evaluation</li>
                        <li><a href="@Root/Functions.html">Special Functions</a></li>
                        <li>Integration</li>

                        <li class="nav-header">Statistics/Probability</li>
                        <li><a href="@Root/DescriptiveStatistics.html">Descriptive Statistics</a></li>
                        <li><a href="@Root/Probability.html">Probability Distributions</a></li>

                        <li class="nav-header">Generation</li>
                        <li><a href="@Root/Generate.html">Generating Data</a></li>
                        <li><a href="@Root/Random.html">Random Numbers</a></li>

                        <li class="nav-header">Transformation</li>
                        <li>Fourier Transform (FFT)</li>
                        <li>Filtering & DSP</li>
                        <li>Window Functions</li>

                        <li class="nav-header">Solving Equations</li>
                        <li><a href="@Root/LinearEquations.html">Linear Equation Systems</a></li>
                        <li>Nonlinear Root Finding</li>

                        <li class="nav-header">Optimization</li>
                        <li>Linear Least Squares</li>
                        <li>Nonlinear Optimization</li>
                        <li><a href="@Root/Distance.html">Distance Metrics</a></li>

                        <li class="nav-header">Curve Fitting</li>
                        <li><a href="@Root/Regression.html">Regression</a></li>
                        <li>Interpolation</li>
                        <li>Fourier Approximation</li>

                        <li class="nav-header">Native Providers</li>
                        <li><a href="@Root/MKL.html">Intel MKL</a></li>

                        <li class="nav-header">Working Together</li>
                        <li><a href="@Root/CSV.html">Delimited Text Files (CSV)</a></li>
                        <li><a href="@Root/MatrixMarket.html">NIST MatrixMarket</a></li>
                        <li><a href="@Root/MatlabFiles.html">MATLAB</a></li>
                        <li><a href="@Root/IFSharpNotebook.html">IF# Notebook</a></li>
                        <li>FsLab & Deedle</li>
                        <li>Microsoft Excel</li>
                        <li>numl.net machine learning</li>
                        <li>R-project</li>

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
