<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>@Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="@Description"/>
        <meta name="author" content="@Properties["project-author"]"/>

        <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
        <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>

        <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
        <style>
          #main table:not(.pre) {
              border: 1px solid #dddddd;
              max-width: 100%;
              border-style: solid;
              border-width: 1px;
              border-color: gray;
              border-collapse: collapse;
              border-right-width: 1px;
              border-bottom-width: 1px;
              margin-top: 15px;
              margin-bottom: 25px;
          }
          #main table:not(.pre) th, #main table:not(.pre) td {
              border: 1px solid #dddddd;
              padding: 6px;
          }
          #main table:not(.pre) th p, #main table:not(.pre) td p {
              margin-bottom: 5px;
          }
        </style>
        <script type="text/javascript" src="@Root/content/tips.js"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li><a href="https://www.mathdotnet.com">Math.NET Project</a></li>
                    <li><a href="https://numerics.mathdotnet.com">Math.NET Numerics</a></li>
                    <li><a href="https://github.com/mathnet/mathnet-numerics">GitHub</a></li>
                </ul>
                <h3 class="muted">Math.NET Numerics</h3>
            </div>
            <hr />
            <div class="row">
                <div class="span9" id="main">
                    @RenderBody()
                </div>
                <div class="span3">
                    <ul class="nav nav-list" id="menu">

                        <li class="nav-header">Math.NET Numerics</li>
                        <li><a href="@Root/Packages.html">NuGet & Binaries</a></li>
                        <li><a href="@Root/ReleaseNotes.html">Release Notes</a></li>
                        <li><a href="@Root/License.html">MIT/X11 License</a></li>
                        <li><a href="@Root/Compatibility.html">Platform Support</a></li>
                        <li><a href="https://numerics.mathdotnet.com/api/">Class Reference</a></li>
                        <li><a href="https://github.com/mathnet/mathnet-numerics/issues">Issues & Bugs</a></li>
                        <li><a href="@Root/Users.html">Who is using Math.NET?</a></li>

                        <li class="nav-header">Contributing</li>
                        <li><a href="@Root/Contributors.html">Contributors</a></li>
                        <li><a href="@Root/Contributing.html">Contributing</a></li>
                        <li><a href="@Root/Build.html">Build & Tools</a></li>
                        <li><a href="http://feedback.mathdotnet.com/forums/2060-math-net-numerics">Your Ideas</a></li>

                        <li class="nav-header">Getting Help</li>
                        <li><a href="https://discuss.mathdotnet.com/c/numerics">Discuss</a></li>
                        <li><a href="https://stackoverflow.com/questions/tagged/mathdotnet">Stack Overflow</a></li>

                        <li class="nav-header">Getting Started</li>
                        <li><a href="@Root/">Getting started</a></li>
                        <li><a href="@Root/Constants.html">Constants</a></li>
                        <li>Floating-Point Numbers</li>
                        <li>Arbitrary Precision Numbers</li>
                        <li>Complex Numbers</li>
                        <li><a href="@Root/Matrix.html">Matrices and Vectors</a></li>
                        <li><a href="@Root/Euclid.html">Euclid & Number Theory</a></li>
                        <li>Combinatorics</li>

                        <li class="nav-header">Evaluation</li>
                        <li><a href="@Root/Functions.html">Special Functions</a></li>
                        <li>Differentiation</li>
                        <li><a href="@Root/Integration.html">Integration</a></li>

                        <li class="nav-header">Statistics/Probability</li>
                        <li><a href="@Root/DescriptiveStatistics.html">Descriptive Statistics</a></li>
                        <li><a href="@Root/Probability.html">Probability Distributions</a></li>

                        <li class="nav-header">Generation</li>
                        <li><a href="@Root/Generate.html">Generating Data</a></li>
                        <li><a href="@Root/Random.html">Random Numbers</a></li>

                        <li class="nav-header">Transformation</li>
                        <li>Fourier Transform (FFT)</li>
                        <li>Filtering & DSP</li>
                        <li>Window Functions</li>

                        <li class="nav-header">Solving Equations</li>
                        <li><a href="@Root/LinearEquations.html">Linear Equation Systems</a></li>
                        <li>Nonlinear Root Finding</li>

                        <li class="nav-header">Optimization</li>
                        <li>Linear Least Squares</li>
                        <li>Nonlinear Optimization</li>
                        <li><a href="@Root/Distance.html">Distance Metrics</a></li>

                        <li class="nav-header">Curve Fitting</li>
                        <li><a href="@Root/Regression.html">Regression</a></li>
                        <li>Interpolation</li>
                        <li>Fourier Approximation</li>

                        <li class="nav-header">Native Providers</li>
                        <li><a href="@Root/MKL.html">Intel MKL</a></li>

                        <li class="nav-header">Working Together</li>
                        <li><a href="@Root/CSV.html">Delimited Text Files (CSV)</a></li>
                        <li><a href="@Root/MatrixMarket.html">NIST MatrixMarket</a></li>
                        <li><a href="@Root/MatlabFiles.html">MATLAB</a></li>
                        <li><a href="@Root/IFSharpNotebook.html">IF# Notebook</a></li>
                        <li>FsLab & Deedle</li>
                        <li>Microsoft Excel</li>
                        <li>numl.net machine learning</li>
                        <li>R-project</li>

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
