<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />

    <!-- Enable loading assemblies over the network in .Net 4.0 -->
    <loadFromRemoteSources enabled="true" />
  </runtime>

  <system.runtime.remoting>
    <customErrors mode="off"/>
  </system.runtime.remoting>

  <system.diagnostics>
    <assert assertuienabled="false" />
  </system.diagnostics>

  <!-- We select the runtime version by setting the COMPLUS_Version environment variable.
       Unfortunately, these settings will override the contents of that variable, so
       we cannot use them for the host application.
  <startup>
    <supportedRuntime version="v4.0.30319" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  -->
</configuration>
